{% extends 'base.html.twig' %}
{% block tittle %}Таблица пользователей{% endblock %}
{% block body %}
    <div class="format_table">
    <table>
        <tr>
            <th>Ф.И.О</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Е-mail</th>
            <th>Дата регистрации</th>
        </tr>
        {% for row in users %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.login }} </td>
                <td>{{ row.password }} </td>
                <td>{{ row.email }} </td>
                <td>{{ row.registration_date }} </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock body %}